<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="sikhuchung/layout/basic">
<th:block layout:fragment="title">
    <title>식후청</title>
</th:block>
<th:block layout:fragment="contents">
    <main>
    <form id="formCheckQuantity" name="formCheckQuantity" method="post" action="/sikhuchung/test.do">
        <div class="detail_info_top_area">
            <div class="detail_info_img_area">
                <img th:src="${thumbnail}" alt="" class="detail_info_img_area">
            </div>
            <input type="hidden" th:value="${session.user}">
            <div class="detail_info_table_area">
            <!-- 상품번호, 상품수량, 삼풍가격, 상품이름, 상품이미지, 사용자 ID -->
            <input type="hidden" name="productNumber"  id="productNumber" th:value="${productNumber}">
            <input type="hidden" name="userId" th:value="${session.user}">
                <table class="detail_info_table">
                    <tr class="detail_info_tr">
                        <td th:if="${session.user} == 'admin'"><button type="button" onclick="" class="detail_info_btn"><img src="../img/rectify.png" alt=""
                                    class="detail_info_btn_img"></button></td>
                         <td th:if="${session.user} == 'admin'"><button type="submit" onclick="" class="detail_info_btn"><img src="../img/delete.png" alt=""
                                    class="detail_info_btn_img"></button></td>
                    </tr>
                    <tr class="detail_info_tr">
                        <td rowspan="2">
                            <h3 class="td_title" th:text="${name}"></h3>
                        </td>
                    </tr>
                    <tr class="detail_info_tr">
                        <td class="detail_info_td_label">상품분류</td>
                        <td class="detail_info_td_content" th:text="${category}"></td>
                    </tr>
                    <tr class="detail_info_tr">
                        <td class="detail_info_td_label">원산지</td>
                        <td class="detail_info_td_content" th:text="${origin}"></td>
                    </tr>
                    <tr class="detail_info_tr">
                        <td class="detail_info_td_label">배송비</td>
                        <td class="detail_info_td_content">3,000원 [거리 무관]</td>
                    </tr>
                    <tr class="detail_info_tr">
                        <td class="detail_info_td_label">배송방법</td>
                        <td class="detail_info_td_content" th:text="${delivery}"></td>
                    </tr>
                    <tr class="detail_info_tr">
                        <td class="detail_info_td_label">재고</td>
                        <td class="detail_info_td_content" th:text="${stock}"></td>
                    </tr>
                    <tr class="detail_info_tr">
                        <td class="detail_info_td_label">상품선택</td>
                        <td class="detail_info_select_box"><select id="quantity" name="cartCount" class="detail_info_select" onchange="selectBoxValue(this.value);">
                                <option value="0">상품 선택 (  상자 / 봉지 )</option>
                                <option value="1">０１ - １상자 / １봉지</option>
                                <option value="2">０２ - ２상자 / ２봉지</option>
                                <option value="3">０３ - ３상자 / ３봉지</option>
                                <option value="4">０４ - ４상자 / ４봉지</option>
                                <option value="5">０５ - ５상자 / ５봉지</option>
                                <option value="6">０６ - ６상자 / ６봉지</option>
                                <option value="7">０７ - ７상자 / ７봉지</option>
                                <option value="8">０８ - ８상자 / ８봉지</option>
                                <option value="9">０９ - ９상자 / ９봉지</option>
                                <option value="10">１０ - 1０상자 / 1０봉지</option>
                            </select></td>
                    </tr>
                    <tr class="detail_info_tr_btn">
                    	<td class="detail_info_button"><a href="#"><button  type="button" onclick="checkNumber()"><img src="../img/payment.png" class="detail_info_bottom_btn_img">바로 결제</button></a></td>
                    	<td class="detail_info_button"><a href="#"><button  type="button" onclick="checkNumber()"><img src="../img/shoppingCart.png" class="detail_info_bottom_btn_img" >장바구니</button></a></td>
                    </tr>
                </table>
            </div>
        </div>
        </form>
        <div class="detail_info_middle_area">
            <img th:src="${info}" alt="" class="detail_info_img">
        </div>
        <div class="detail_info_line_area">
            <hr class="detail_info_line">
        </div>
        <div class="detail_info_bottom_area">
            <p class="detail_info_btm_title">상품 후기</p>
        </div>
    </main>
</th:block>
</html>