<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="sikhuchung/layout/basic">
<th:block layout:fragment="title">
	<title>find_id</title>
</th:block>
<th:block layout:fragment="contents">
	<div id="contents">
		<div class="sub_content">
			<div class="content_box">
				<div class="member_wrap">
					<div class="member_tit">
						<h2>아이디찾기</h2>
					</div>
					<div class="member_cont">
						<form id="formFindId" method="get" action="" novalidate="novalidate">
							<div class="find_id_box">
								<div>
									<h3>회원 아이디찾기</h3>
									<div>
										<div>
											<input type="text" id="" name="" placeholder="이름"> 
										    <input type="text" id="" name="" class="" placeholder="가입메일주소" >
										</div>
									    <button type="submit" class="">아이디 찾기</button>
									</div>
									<p>일치하는 회원정보가 없습니다. 다시 입력해 주세요.</p>
								</div>
								<div>
									<ul>
										<li><button class="" type="button" onclick="location.href='find_pw.do'">비밀번호 찾기</button></li>
										<li><button class="" type="button" onclick="location.href='login.do'">로그인하기</button></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>