<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="sikhuchung/layout/basic">
<th:block layout:fragment="title">
    <title>find_pw</title>
</th:block>
<th:block layout:fragment="contents">
			<div class="content_box">
				<form name="formFindPw" id="formFindPw" action="/sikhuchung/find_pw.do" method="get" novalidate="novalidate">
					<div class="member_wrap">
						<div class="member_tit">
							<h2>비밀번호 찾기</h2>
						</div>
						<div class="member_cont">
							<div class="find_password_box">
								<h3>아이디 입력</h3>
								<p>비밀번호를 찾고자 하는 아이디를 입력해 주세요.</p>
								<div class="login_input">
									<div class="member_findpw">
										<input type="text" id="id" name="uid" placeholder="아이디"> 
										<input type="text" id="name" name="umail" placeholder="이름">
										<p> 아이디를 모르시나요? <a href="find_id.do" class="">아이디 찾기</a></p>
										<p class="" id="errorMessage"></p>
									</div>
									<div class="btn_findpw_box">
									<button type="button" class="btn_findpw" onclick="findPwNullCheck()">비밀번호 찾기</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
</th:block>
</html>