<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="sikhuchung/layout/basic">
<th:block layout:fragment="title">
    <title>find_pw</title>
</th:block>
<th:block layout:fragment="contents">
			<div class="content_box">
				<form name="formFindPw" id="formFindPw" action="/sikhuchung/find_pw.do" method="post" novalidate="novalidate">
					<div class="member_wrap">
						<div class="member_tit">
							<h2>비밀번호 찾기</h2>
						</div>
						<div class="member_cont">
							<div class="find_password_box">
								<h3>아이디 입력</h3>
								<p>비밀번호를 찾고자 하는 아이디를 입력해 주세요.</p>
								<div class="login_input">
									<div class="member_findpw">
									    <p> 입력된 정보로 임시 비밀번호가 전송됩니다.</p>
										<input type="text" id="name" class="userName" name="userName" placeholder="이름">
										<input type="text" id="email" class="userEmail" name="userEmail" placeholder="이메일">
										<div th:if="${msg} == '일치하는 회원정보가 없습니다.'"  th:text="${msg}" class="findPwMsgFail"></div>
                                        <div th:if="${user} != null"  th:text="|회원님의 비밀번호 :  ${user}|" class="findPwMsgTrue"></div>
                                        <div class="text-center small mt-2" id="checkMsg" style="color: red"></div>
										<p> 아이디를 모르시나요? <a href="find_id.do" class="">아이디 찾기</a></p>
										<p class="" id="errorMessage"></p>
									</div>
									<div class="btn_findpw_box">
									<button type="button" class="btn_findpw" onclick="findPwCheck()">비밀번호 찾기</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
</th:block>
</html>