<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="sikhuchung/layout/basic">
<th:block layout:fragment="title">
	<title>join</title>
</th:block>
<th:block layout:fragment="contents">
	<div class="content_box">
		<div class="join_base_wrap">
			<div class="member_tit">
				<h2>회원가입</h2>
			</div>

			<div class="member_cont">
				<div class="important">* 표시는 반드시 입력하셔야 하는 항목입니다.</div>
				<form id="formJoin" name="formJoin" action="/sikhuchung/join.do" method="post">
				<input type="hidden" name="idCheckResult" id="idCheckResult" value="0"/>
					<div class="base_join_box">
						<div class="base_join_sec">
							<table>
								<colgroup>
									<col width="25%">
									<col width="75%">
								</colgroup>
								<tbody>
									<tr>
										<th><span class="">* 아이디</span></th>
										<td>
											<div>
												<input type="text" class="uid" id="uid" name="uid" maxlength="15"  required>
												<button type="button" id="btnIdCheck" class="btn_idcheck" onclick="idDuplicateCheck()">중복확인</button>
											</div>
											 <span class="id_input_re_1" id="idMsg2">사용 가능한 아이디입니다.</span> 
											 <span class="id_input_re_2" id="idMsg3">아이디가 이미 존재합니다.</span>
											 <p class="sign_p id_msg" id="idMsg">영어, 숫자만 사용하여 4~15자 사이로 입력해주세요.</p>
										</td>

									</tr>
									<tr>
										<th><span class="">* 비밀번호</span></th>
										<td>
											<div>
												<input type="password" id="upw" name="upw" autocomplete="off" maxlength="20" required>
											</div>
											<p class="sign_p pw_msg" id="pwMsg">영어,특수문자,숫자 1개이상 포함하여 4~20자 사이로 입력해주세요.</p>
										</td>
									</tr>
									<tr>
										<th><span class="">* 비밀번호 확인</span></th>
										<td>
											<div>
												<input type="password" name="upwCheck" id="upwCheck" autocomplete="off"  required>
											</div>
											<p class="sign_p pw_check_msg" id="pwCheckMsg"></p>
										</td>
									</tr>
									<tr>
										<th><span class="">* 이름</span></th>
										<td>
											<div>
												<input type="text" name="uname" id="uname" value="" maxlength="20" required>
											</div>
											<p class="sign_p name_msg" id="nameMsg">2~20자 사이의 한글과 영어만 입력가능합니다.</p>
										</td>
									</tr>
									<tr>
										<th><span class="">* 이메일</span></th>
										<td>
											<div>
												<input type="text" name="uemail" id="uemail" value=""  required>
											</div>
											<p class="sign_p email_msg" id="emailMsg">예)sikhuchung@naver.com</p>
										</td>
									</tr>
									<tr>
										<th><span class="">* 휴대폰번호</span></th>
										<td>
											<div>
												<input type="text" id="utel" name="utel" maxlength="12" placeholder="- 없이 입력하세요."  required>
											</div>
											<p class="sign_p tel_msg" id="telMsg">최소 11자리 이상의 숫자만 입력 가능합니다.</p>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>

					<div class="btn_join_box">
						<button type="button" id="" class="btn_join_cancel">돌아가기</button>
						<button type="button" class="btn_join" onclick="joinNullCheck()" value="회원가입">회원가입</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</th:block>
</html>