<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="sikhuchung/layout/basic">
<th:block layout:fragment="title">
	<title>join</title>
</th:block>
<th:block layout:fragment="contents">
		<div class="content_box">
			<div class="join_base_wrap">
				<div class="member_tit">
					<h2>회원가입</h2>
				</div>

				<div class="member_cont">
				  <div class="important">* 표시는 반드시 입력하셔야 하는 항목입니다.</div>
					<form id="formJoin" name="formJoin" action="" method="get">
						<div class="base_join_box">
							<div class="base_join_sec">
								<table>
									<colgroup>
										<col width="25%">
										<col width="75%">
									</colgroup>
									<tbody>
										<tr>
											<th><span class="">* 아이디</span></th>
											<td>
												<div>
													<input type="text" id="" name="">
													<button type="button" id="btnIdCheck" class="btn_idcheck" onclick="">중복확인</button>
												</div>
											</td>

										</tr>
										<tr>
											<th><span class="">* 비밀번호</span></th>
											<td>
												<div>
													<input type="password" id="" name="" autocomplete="off" placeholder="">
												</div>
											</td>
										</tr>
										<tr>
											<th><span class="">* 비밀번호 확인</span></th>
											<td>
												<div>
													<input type="password" name="" id="" autocomplete="off">
												</div>
											</td>
										</tr>
										<tr>
											<th><span class="">* 이름</span></th>
											<td>
												<div>
													<input type="text" name="" id="" value="" maxlength="30">
												</div>
											</td>
										</tr>
										<tr>
											<th><span class="">* 이메일</span></th>
											<td>
												<div>
													<input type="text" name="" id="" value=""> 
												</div>
												<div class=""></div>  <!-- 유효성메세지 -->
											</td>
										</tr>
										<tr>
											<th><span class="">* 휴대폰번호</span></th>
											<td>
												<div>
													<input type="text" id="" name="" maxlength="12" placeholder="- 없이 입력하세요." value="">
												</div>
											</td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>

						<div class="btn_join_box">
							<button type="button" id="" class="btn_join_cancel">돌아가기</button>
							<button type="button" class="btn_join" value="회원가입">회원가입</button>
						</div>
					</form>
				</div>
			</div>
		</div>
</th:block>
</html>