<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="sikhuchung/layout/basic">
<th:block layout:fragment="title">
	<title>login</title>
</th:block>
<th:block layout:fragment="contents">
		<div class="content_box">
			<div class="member_wrap">
				<div class="member_cont">
					<form id="formLogin" method="get" action="">
						<div class="member_login_box">
							<h3>회원 로그인</h3>
							<div class="login_input_sec">
								<div>
									<input type="text" id="" name="" value="" placeholder="아이디">
									<input type="password" id="" name="" value="" placeholder="비밀번호">
								</div>
								<button type="submit" class="">로그인</button>
							</div>
							<div class="id_chk">
								<p>아이디, 비밀번호가 일치하지 않습니다. 다시 입력해 주세요.</p>
							</div>
						</div>
						<div class="btn_login_box">
							<ul class="btn_login_ul">
								<li><button id="btnJoinMember" class="btn_member_join" type="button" onclick="location.href='join.do'">회원가입</button></li>
								<li><button id="btnFindId" class="btn_member_white" type="button" onclick="location.href='find_id.do'">아이디 찾기</button></li>
								<li><button id="btnFindPwd" class="btn_member_white"  type="button" onclick="location.href='find_pw.do'">비밀번호 찾기</button></li>
							</ul>
						</div>
					</form>
				</div>
			</div>
		</div>
</th:block>
</html>