<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="sikhuchung/layout/basic">
<th:block layout:fragment="title">
    <title>식후청</title>
</th:block>
<th:block layout:fragment="contents">
    <div class="slideshow_container">
        <section id="slider1" class="slider">
            <img src="커피콩.jpg" alt="" class="box">
            <img src="감바스.jpg" alt="" class="box">
            <img src="컵케익.jpg" alt="" class="box">

        </section>
    </div>

    <h1 class="main_title">전체 과일</h1>
    <hr class="info_line">

    <div class="total_list">
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="감바스.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
        <div class="img_list">
            <img src="피자.jpg" alt="" class="list_img">
            <p>[포항] 부사 사과 1KG</p>
            <p>9,800원</p>
        </div>
    </div>
</th:block>
</html>