<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="sikhuchung/layout/basic">
<th:block layout:fragment="title">
    <title>식후청</title>
</th:block>
<th:block layout:fragment="contents">
    <div class="main_button_area">
	    <a href="#season"><button>제철 과일</button></a>
	    <a href="#weird"><button>별난 과일</button></a>
	    <a href="#simple"><button>간편 과일</button></a>
	    <a href="#present"><button>선물 과일</button></a>
    </div>
    

    <h1 class="main_title">전체 과일</h1>    
	    <div class="total_list">
    		<div th:each="row : ${product}" class="img_list">
	    		<a th:href="|@{/sikhuchung/detail.do}?productNumber=${row.productNumber}|" class="list_a">
    				<img th:src="${row.productThumbnail}" alt="" class="list_img">
    			</a>
            	<p th:text = "${row.productName}" class="list_p"></p>
            	<p th:text = "${row.productPrice}" class="list_p"></p>
			</div>
    	</div>
    <a name="season"><h1 class="main_title">제철 과일</h1></a>
	    <div class="sub_total_list">
    		<div th:each="row : ${season}" class="img_list">
	    		<a th:href="|@{/sikhuchung/detail.do}?productNumber=${row.productNumber}|" class="list_a">
    				<img th:src="${row.productThumbnail}" alt="" class="list_img">
    			</a>
            	<p th:text = "${row.productName}" class="list_p"></p>
            	<p th:text = "${row.productPrice}" class="list_p"></p>
			</div>
    	</div>
    	<a name="weird"><h1 class="main_title">별난 과일</h1></a>
	    <div class="sub_total_list">
    		<div th:each="row : ${weird}" class="img_list">
	    		<a th:href="|@{/sikhuchung/detail.do}?productNumber=${row.productNumber}|" class="list_a">
    				<img th:src="${row.productThumbnail}" alt="" class="list_img">
    			</a>
            	<p th:text = "${row.productName}" class="list_p"></p>
            	<p th:text = "${row.productPrice}" class="list_p"></p>
			</div>
    	</div>
    	<a name="simple"><h1 class="main_title">간편 과일</h1></a>
	    <div class="sub_total_list">
    		<div th:each="row : ${simple}" class="img_list">
	    		<a th:href="|@{/sikhuchung/detail.do}?productNumber=${row.productNumber}|" class="list_a">
    				<img th:src="${row.productThumbnail}" alt="" class="list_img">
    			</a>
            	<p th:text = "${row.productName}" class="list_p"></p>
            	<p th:text = "${row.productPrice}" class="list_p"></p>
			</div>
    	</div>
    	<a name="present"><h1 class="main_title">선물 과일</h1></a>
	    <div class="sub_total_list">
    		<div th:each="row : ${present}" class="img_list">
	    		<a th:href="|@{/sikhuchung/detail.do}?productNumber=${row.productNumber}|" class="list_a">
    				<img th:src="${row.productThumbnail}" alt="" class="list_img">
    			</a>
            	<p th:text = "${row.productName}" class="list_p"></p>
            	<p th:text = "${row.productPrice}" class="list_p"></p>
			</div>
    	</div>
</th:block>
</html>