<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="sikhuchung/layout/basic">
<th:block layout:fragment="title">
	<title>login</title>
</th:block>
<th:block layout:fragment="contents">
	<div class="sub_content">
		<div class="side_cont">
			<div class="sub_menu_box">
				<h2>마이페이지</h2>
				<ul class="sub_menu_mypage">
					<li><a href="mypageOrderInfo.do">- 주문목록</a></li>
					<li><a href="mypageMemberInfoPwCheck.do">- 회원정보 변경</a></li>
					<li><a href="mypageMemberQuit.do">- 회원 탈퇴</a></li>
				</ul>
			</div>
		</div>

		<div class="contents">
			<div class="mypage_cont">
				<div class="my_page_password">
					<form name="formPwCertify" id="formPwCertify" action="/sikhuchung/mypageMemberInfoPwCheck.do" method="post" novalidate="novalidate">
					 <input type="text" name="userId" th:value="${session.user}">
						<div class="mypage_zone_tit">
							<h2>회원정보 변경</h2>
						</div>
						<p>
							<strong>회원님의 정보를 안전하게 보호하기 위해 계정을 <span>재인증</span> 해주세요.
							</strong>
						</p>
						<div class="mypage_pwcheck">
							<p th:text="${msg}" class="findIdMsgFail"></p>
							<span>비밀번호</span> <input type="password" id="pw" name="userPw">
						</div>
						<div class="btn_pwcheck_box">
							<a class="btn_pwcheck_cancel">취소</a>
							<button type="button" class="btn_pwcheck_certify" onclick="pwCertifyNullCheck()">인증하기</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>