<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="sikhuchung/layout/basic">
<th:block layout:fragment="title">
	<title>mypage</title>
</th:block>
<th:block layout:fragment="contents">
	<div class="sub_content">
		<div class="side_cont">
			<div class="sub_menu_box">
				<h2>마이페이지</h2>
				<ul class="sub_menu_mypage">
					<li><a href="mypageMemberInfo.do">- 주문목록</a></li>
					<li><a href="mypageMemberInfoPwCheck.do">- 회원정보 변경</a></li>
					<li><a href="mypageMemberQuit.do">- 회원 탈퇴</a></li>
				</ul>
			</div>
		</div>
		<div class="contents">
			<div class="join_base_wrap">
				<div class="member_tit">
					<h2>회원정보 변경</h2>
				</div>
				<div class="member_cont">
                  <div class="important">* 표시는 반드시 입력하셔야 하는 항목입니다.</div>
                    <form id="formMemberUpdate" name="formMemberUpdate" action="/sikhuchung/mypageMemberInfo.do" method="get">
                    <input type="text" name="sessionId" th:value="${session.user}">
                        <div class="base_join_box">
                            <div class="base_join_sec">
                                <table>
                                    <colgroup>
                                        <col width="25%">
                                        <col width="75%">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th><span class="">* 아이디</span></th>
                                            <td>
                                                <div>
                                                    <input type="text" id="id" name="uid" readonly>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <th><span class="">* 비밀번호</span></th>
                                            <td>
                                                <div>
                                                    <input type="password" id="password" name="upw" autocomplete="off" placeholder="">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><span class="">* 비밀번호 확인</span></th>
                                            <td>
                                                <div>
                                                    <input type="password" name="upwCheck" id="passwordCheck" autocomplete="off">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><span class="">* 이름</span></th>
                                            <td>
                                                <div>
                                                    <input type="text" name="uname" id="name" maxlength="30">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><span class="">* 이메일</span></th>
                                            <td>
                                                <div>
                                                    <input type="text" name="uemail" id="email" value=""> 
                                                </div>
                                                <div class=""></div>  <!-- 유효성메세지 -->
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><span class="">* 휴대폰번호</span></th>
                                            <td>
                                                <div>
                                                    <input type="text" id="tel" name="utel" maxlength="12" placeholder="- 없이 입력하세요.">
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="btn_join_box">
                            <button type="button" id="" class="btn_join_cancel">취소</button>
                            <button type="button" class="btn_join" onclick="userUpdateNullCheck()" value="회원가입">정보수정</button>
                        </div>
                    </form>
                </div>
			</div>
		</div>
	</div>
</th:block>
</html>