<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="sikhuchung/layout/basic">
<th:block layout:fragment="title">
	<title>login</title>
</th:block>
<th:block layout:fragment="contents">
	<div id="contents">
		<div class="sub_content">
			<div class="side_cont">
				<div class="sub_menu_box">
					<h2>마이페이지</h2>
					<ul class="sub_menu_mypage">
						<li>쇼핑정보
							<ul class="sub_depth1">
								<li><a href="">- 주문목록</a></li>
								<li><a href="">- 회원정보 변경</a></li>
								<li><a href="">- 회원 탈퇴</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>

			<div class="content">
				<div>
					<div>
						<div>
							<h2>회원정보 변경</h2>
						</div>
						<p><strong>회원님의 정보를 안전하게 보호하기 위해 계정을 <span>재인증</span> 해주세요.</strong></p>
						<div class="">
						    <span class="important">아이디</span>
                            <input type="password" id="" name="">
						</div>
						<div class="btn_center_box">
							<a class="">취소</a>
							<button type="button" class="">인증하기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>