<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="sikhuchung/layout/basic">
<th:block layout:fragment="title">
	<title>login</title>
</th:block>
<th:block layout:fragment="contents">
	<div class="sub_content">
		<div class="side_cont">
			<div class="sub_menu_box">
				<h2>마이페이지</h2>
				<ul class="sub_menu_mypage">
					<li><a href="mypageOrderInfo.do">- 주문목록</a></li>
					<li><a href="mypageMemberInfoPwCheck.do">- 회원정보 변경</a></li>
					<li><a href="mypageMemberQuit.do">- 회원 탈퇴</a></li>
				</ul>
			</div>
		</div>

		<div class="contents">
			<div class="mypage_cont">
				<div class="mypage_order_info">
					<div class="mypage_zone_tit">
						<h3>주문목록</h3>
					</div>
					<div class="date_check_box">
						<div>
							<span class="order_list_num" th:text="|주문목록 내역 총 ${length} 건|"> 주문목록 내역 총 <strong>0</strong> 건
							</span>
							<div class="mypage_order_info_table">
								<table>
									<colgroup>
										<col style="width: 20%">
										<!-- 날짜/주문번호 -->
										<col>
										<!-- 상품명 -->
										<col style="width: 15%">
										<!-- 상품금액/수량 -->
										<col style="width: 12%">
										<col style="width: 12%">
										<!-- 주문상태 -->
										<col style="width: 12%">
										<!-- 리뷰 -->
									</colgroup>
									<thead>
										<tr>
											<th>날짜/주문번호</th>
											<th>상품명</th>
											<th class="nd-dpnone-426">상품금액/수량</th>
											<th class="nd-dpnone-426">합계금액</th>
											<th class="nd-dpnone-426">주문상태</th>
											<th class="nd-dpnone-426">확인/리뷰</th>
										</tr>
									</thead>
									
									<tbody>
										<tr th:if="${not #lists.isEmpty(orderList)}" th:each="row : ${orderList}">
											<td th:text="|${row.orderDate}/${row.orderDetailNumber}|"></td>
											<td th:text="${row.productName}"></td>
											<td th:text="|${row.productPrice}원 /${row.orderDetailCount}개|"></td>
											<td th:text="|${row.getPrice()}원|"></td>
											<td th:text="${row.orderDetailResult}"></td>
											<td><a th:if="${row.orderDetailResult} == '배송완료'" href="">후기작성</a></td>
										</tr>
										<tr th:unless="${not #lists.isEmpty(orderList)}">
											<td colspan="5">조회된 결과가 없습니다.</td>
										</tr>
									</tbody>
									
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>