<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="sikhuchung/layout/basic">
  <th:block layout:fragment="title">
    <title>공지사항-글쓰기</title>
  </th:block>
  
  <th:block layout:fragment="contents">
        <div class="card-content">
            <h2>공지사항 글쓰기</h2>
            <form class="form-horizontal" id="writeForm" name="writeForm" th:action="@{/sikhuchung/register.do}" th:object="${notice}" method="post" onsubmit="return registerNotice(this)">
                <!--/* update의 경우 서버로 전달할 게시글 번호 (PK) */-->
                <input type="hidden" th:if="*{noticeNumber != null and noticeNumber > 0}" th:field="*{noticeNumber}" id="noticeNumber" name="noticeNumber" />
                <div class="form-group">
                    <label for="userId" class="col-sm-2 control-label">작성자</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{userId}" class="form-control" id="userId" name="userId" placeholder="작성자를 입력해 주세요." />
                    </div>
                </div>
                <div class="form-group">
                    <label for="noticeTitle" class="col-sm-2 control-label">제목</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{noticeTitle}" class="form-control" id="noticeTitle" name="noticeTitle" placeholder="제목을 입력해 주세요." />
                    </div>
                </div>
                <div class="form-group">
                    <label for="noticeContent" class="col-sm-2 control-label">내용</label>
                    <div class="col-sm-10">
                        <textarea th:field="*{noticeContent}" class="form-control" id="noticeContent" name="noticeContent" placeholder="내용을 입력해 주세요."></textarea>
                    </div>
                </div>

                <div class="btn_wrap2 text-center">
                    <a th:href="|@{/sikhuchung/noticelist.do}*{makeQueryString(currentPageNo)}|" class="btn btn-default waves-effect waves-light">뒤로가기</a>
                    <button type="submit" class="btn btn-primary waves-effect waves-light">저장하기</button>
                </div>
            </form>
        </div>
    </th:block>
</html>