<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="sikhuchung/layout/basic">
 <th:block layout:fragment="title">
        <title>This page is a list page</title>
    </th:block>
    
  <th:block layout:fragment="main">
        <h2>웅앵웅</h2>
        <h2>웅앵웅</h2>
        <h2>웅앵웅</h2>
        <h2>웅앵웅</h2>
        <h2>웅앵웅</h2>
        <h2>웅앵웅</h2>
        <h2>웅앵웅</h2>
        <h2>웅앵웅</h2>
        <h2>웅앵웅</h2>
        <h2>웅앵웅</h2>
        <h2>웅앵웅</h2>
        
    </th:block>

</html>