html {
  height: 100%;
  width: 80%;
  margin: auto;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
  
/* Main Page */
/* 슬라이드 배너 */
.slideshow_container {
    height: 200px;
    width: 100%;
    align-items: center;
    padding: 10px;
    margin: auto;
}
.slider {
  height: 200px;
  width: 90%;
  margin: auto;
}
.box {
  width: 100%;
}
/* 전체 과일 제목 */
.main_title {
    height: auto;
    width: 100%;
    padding: 10px 0px;
    padding-top: 50px;
    margin: 0%;
    text-align: center;
    font-family: "Cafe24 Ssurround air";
    font-size: 30px;
    font-weight: bold;
}
.info_line {
    height: 1px;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    border: 0;
    align-items: center;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0)
    );
}
/* 전체 과일 리스트 */
.total_list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.img_list {
    height: auto;
    width: 15em;
    padding: 10px 20px;
    margin: auto;
    align-items: baseline;
}
.list_img {
    height: 100%;
    width: 100%;
}
.img_list p {
    padding: 0%;
    margin: auto;
    font-family: "Cafe24 Ssurround air";
    font-size: 14px;
}