<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>식후청 Header</title>
    <link rel="stylesheet" href="header.css">
</head>
<body>
    <header>
        <div>
            <h2 class="main_title">식후청</h2>
            <nav class="main_nav_panel">
                <ul class="main_ul_panel">
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                    <li><a href="#">공지사항</a></li>
                </ul>
            </nav>
        </div>
        <div class="sub_nav_panel">
            <nav>
                <ul class="sub_ul_panel">
                    <li><a href="#">제철 과일</a></li>
                    <li><a href="#">별난 과일</a></li>
                    <li><a href="#">간편 과일</a></li>
                    <li><a href="#">선물 과일</a></li>
                    <li><a href="#"><img src="basket.png">장바구니</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>