html {
  height: 100%;
  width: 80%;
  margin: auto;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
a {
	text-decoration-line: none;
}

/* Main Page */
/* 버튼 목록 */
.main_button_area {
	display: flex;
	justify-content: space-evenly;
}
.main_button_area button {
	width: 8em;
	height: 3em;
	color: black;
	font-family: "Cafe24 Ssurround air";
	font-weight: bold;
	font-size: 16px;
	background-color: whitesmoke;
	border: 1px solid gray;
	border-radius: 10px;
}

/* 전체 과일 제목 */
.main_title {
  height: auto;
  width: 100%;
  padding: 10px 0px;
  padding-top: 50px;
  margin: 0%;
  text-align: center;
  font-family: "Cafe24 Ssurround air";
  font-size: 30px;
  font-weight: bold;
}
.info_line {
  height: 1px;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  border: 0;
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/* 전체 과일 리스트 */
.total_list {
  height: 45em;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.total_list::-webkit-scrollbar {
	width: 10px;
}
.total_list::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background-image: linear-gradient(136deg, rgb(229 121 180 / 50%) 0%, rgb(133 157 225 / 50%) 99%);
}
.img_list {
  height: auto;
  width: 18em;
  padding: 10px 20px;
  margin: auto;
}
.list_a {
	display: flex;
	justify-content: center;
}
.list_img {
  height: auto;
  width: 15em;
  padding-bottom: 4px
}
.img_list p {
  padding: 0%;
  margin: auto;
  font-family: "Cafe24 Ssurround air";
  font-size: 14px;
}
.sub_total_list {
  height: 23em;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sub_total_list::-webkit-scrollbar {
	width: 10px;
}
.sub_total_list::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background-image: linear-gradient(136deg, rgb(229 121 180 / 50%) 0%, rgb(133 157 225 / 50%) 99%);
}

/* Detail Screen */
/* 버튼 구역 */
.detail_info_btn {
  height: 2em;
  width: auto;
}
.detail_info_btn_img {
  height: 1.6em;
  width: auto;
}

/* 상단 부분 분할 */
.detail_info_top_area {
  height: 500px;
  width: 100%;
  display: flex;
  padding: 0;
  padding-top: 2em;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
}

/* 상세 화면 사진 */
.detail_info_img_area {
  height: 400px;
  width: auto;
}

/* 표 */
.detail_info_table_area {
  width: 360px;
}
.detail_info_table {
  margin: auto;
  font-family: "GMARKET-SANS300";
  font-weight: lighter;
  font-size: 16px;
}
.detail_info_td_title {
  font-family: "GMARKET-SANS700";
}

/* 각 테이블 줄 */
.detail_info_tr {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.detail_info_td_label {
  height: auto;
  width: 120px;
  font-family: "GMARKET-SANS500";
  font-weight: 500;
  font-size: 20px;
}
.detail_info_td_content {
  height: auto;
  width: 220px;
  font-family: "GMARKET-SANS300";
  font-weight: lighter;
  font-size: 18px;
}

/* 선택 상자 */
.detail_info_select_box {
  position: relative;
  width: 150px;
  border-radius: 16px;
  border: 2px solid rgb(240, 169, 128);
}
.detail_info_select_box .detail_info_select {
  width: 135px;
  background: transparent;
  border: 0 none;
  outline: 0 none;
  padding: 0 5px;
  position: relative;
  z-index: 3;
}
.detail_info_select_box .detail_info_select option {
  background: rgb(223, 239, 255);
  color: rgb(0, 0, 0);
  font-family: "GMARKET-SANS300";
  font-weight: lighter;
  font-size: 14px;
}

/* 중앙 경계선 */
.detail_info_line_area {
  padding: 3em 0;
}
.detail_info_line {
  height: 1px;
  width: 80%;
  margin: auto;
  border: 0;
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/* 상세 설명 사진 */
.detail_info_middle_area {
  margin: auto;
  padding: 0;
  display: flex;
}
.detail_info_img {
  height: auto;
  width: 800px;
  margin: auto;
}

/* 후기 */
.detail_info_bottom_area {
  margin: auto;
  padding: 0;
  padding-bottom: 2em;
  flex-direction: column;
  justify-items: center;
}
.detail_info_btm_title {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "GMARKET-SANS300";
  font-weight: lighter;
  font-size: 40px;
}

/* Regist item */
/* 상단 제목 */
.regist_title_area {
  margin: 2em 0px;
  display: flex;
  flex-direction: column;
}
.regist_title_kor {
  padding-top: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "GMARKET-SANS300";
  font-weight: lighter;
  font-size: 40px;
}
.regist_title_eng {
  padding-bottom: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cafe24 Ssurround air";
  font-weight: lighter;
  font-size: 20px;
}

/* 데이터 입력 표 */
.regist_info_table {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.regist_info_tr {
  height: 90px;
  display: flex;
  align-items: flex-end;
}
.regist_info_label {
  width: 200px;
  height: auto;
  font-family: "Cafe24 Ssurround air";
  font-weight: 500;
  font-size: 26px;
  display: flex;
  align-items: center;
}
.regist_info_content {
  width: 300px;
  height: auto;
  font-family: "Cafe24 Ssurround air";
  font-weight: 500;
  font-size: 26px;
  display: flex;
  flex-direction: column;
}

/* 선택 상자 */
.regist_info_select_box {
  position: relative;
  width: 296px;
  height: 36px;
  border-radius: 10px;
  border: 2px solid rgb(240, 169, 128);
}
.regist_info_select_box .regist_info_select {
  width: inherit;
  height: inherit;
  background: transparent;
  border: 0 none;
  outline: 0 none;
  padding: 0 5px;
  position: relative;
  z-index: 3;
}
.regist_info_select_box .regist_info_select option {
  background: rgb(223, 239, 255);
  color: rgb(0, 0, 0);
  font-family: "GMARKET-SANS300";
  font-weight: lighter;
  font-size: 14px;
}
.regist_info_box {
  height: 36px;
  padding: 0px 10px;
  border-radius: 10px;
  border: 2px solid rgb(240, 169, 128);
}
.regist_info_content input:focus {
  outline: solid 3px rgb(231, 141, 141);
}

/* 경고문 출력 p */
.regist_info_p {
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: "GMARKET-SANS300";
  font-weight: lighter;
  font-size: 16px;
}
.regist_info_p p {
  padding: 0;
  margin: 0;
}

/* 버튼 */
.regist_btn_area {
  margin: 40px 0px;
  display: flex;
  justify-content: center;
}
.regist_btn_area button {
  height: 3em;
  width: 8em;
  font-family: "GMARKET-SANS300";
  font-weight: 300;
  font-size: 18px;
}
.regist_btn_left {
  margin-right: 7em;
  border-radius: 16px;
  border: 3px solid rgb(240, 158, 148);
  background-color: rgba(248, 223, 223, 0.596);
}
.regist_btn_right {
  margin-left: 7em;
  border-radius: 16px;
  border: 3px solid rgb(148, 185, 240);
  background-color: rgba(223, 232, 248, 0.596);
}
