<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <body th:fragment="main-body">
    <!-- header -->
            
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top navbar-light" id="mainNav">
            <div class="container">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/sikhuchung/season.do}">제철과일</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/sikhuchung/weird.do}">별난과일</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/sikhuchung/simple.do}">간편과일</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/sikhuchung/present.do}">선물과일</a></li>
                </ul>
                </div>
                <a class="navbar-brand" th:href="@{/sikhuchung/sikhuchungTest.do}">식 후 청</a>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{#portfolio}">제철과일</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{#about}">별난과일</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{#contact}">간편과일</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{#contact}">선물과일</a></li>
                </ul>
                </div>
            </div>
        </nav> 
     
    <!-- section -->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <th:block layout:fragment="main"></th:block>
                <th:block layout:fragment="contents"></th:block>
            </div>
        </section>


       <!-- Footer-->
       <footer class="footer text-center">
           <div class="container">
               <div class="row">
                   <!-- Footer Location-->
                   <div class="col-lg-4 mb-5 mb-lg-0">
                       <h4 class="text-uppercase mb-4">Location</h4>
                       <p class="lead mb-0">
                           2215 John Daniel Drive
                           <br />
                           Clark, MO 65243
                       </p>
                   </div>
                   <!-- Footer Social Icons-->
                   <div class="col-lg-4 mb-5 mb-lg-0">
                       <h4 class="text-uppercase mb-4">Around the Web</h4>
                       <a class="btn btn-outline-light btn-social mx-1" th:href="@{#!}"><i class="fab fa-fw fa-facebook-f"></i></a>
                       <a class="btn btn-outline-light btn-social mx-1" th:href="@{#!}"><i class="fab fa-fw fa-twitter"></i></a>
                       <a class="btn btn-outline-light btn-social mx-1" th:href="@{#!}"><i class="fab fa-fw fa-linkedin-in"></i></a>
                       <a class="btn btn-outline-light btn-social mx-1" th:href="@{#!}"><i class="fab fa-fw fa-dribbble"></i></a>
                   </div>
                   <!-- Footer About Text-->
                   <div class="col-lg-4">
                       <h4 class="text-uppercase mb-4">About Freelancer</h4>
                       <p class="lead mb-0">
                           Freelance is a free to use, MIT licensed Bootstrap theme created by
                           <a th:href="@{http://startbootstrap.com}">Start Bootstrap</a>
                           .
                       </p>
                   </div>
               </div>
           </div>
       </footer>
       <!-- Copyright Section-->
       <div class="copyright py-4 text-center text-white">
           <div class="container"><small>Copyright &copy; Your Website 2021</small></div>
       </div>
       
       
       
    <script th:src="@{../js/sikhuchung.js}"></script>
    </body>
    
    
</html>